.class-time {
  height: 130px;
  text-align: center;
  position: relative;
  color: #ffffff;
  background-color: #fe6d3f;
  padding: 10px 0;

}
.class-info{
  background-color: #1ec08a;
  text-align: center;
  position: relative;
  padding: 10px 0;

}
.class {
  width: 500px;
  margin: 0px auto 30px;
  font-weight: 300;
  border: 1px solid #dad8d8;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  font-size: 22px;
  padding: 16px 24px 0px;
}
