
._li ._9bp- .fb_logo {
    height: 100px;
}
img {
    border: 0;
}
#facebook ._-kb div {
    font-family: inherit;
}
._li ._9bp- {
    padding-top: 5px;
    text-align: center;
}
#facebook ._8esf ._52lp ._9bp_ {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}
#facebook ._8esf ._52lp ._52lq {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
}
#facebook ._-kb div {
    font-family: inherit;
}
.fcb {
    color: #333;
}
.fwb {
    font-weight: 600;
}
.fsl {
    font-size: 14px;
}
.mbs {
    margin-bottom: 5px;
}
#facebook ._-kb div {
    font-family: inherit;
}
._8esf._9bq9 {
    padding-top: 5px;
}
._8esf._8fgk, ._8esf._9bpz {
    padding-top: 25px;
}
._52lo {
    margin: 0 auto 30px auto;
    padding: 0 20px 0 0;
    width: 400px;
}
._9bq8 {
    background-color: #fff;
    padding-top: 30px;
}
.script {
    display: none;
}

script {
    display: none;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
link {
    display: none;
}
script {
    display: none;
}
body {
    overflow-y: scroll;
}

body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}